mat-card {
    margin: 7px;
}

.dot {
    height: 16px;
    width: 16px;
    background-color: whitesmoke;
    border-radius: 50%;
    display: inline-block;
    margin-right: 5px;
}

.bg-blue {
    background-color:lightblue;
}

.bg-green {
    background-color: springgreen;
}

.action-container {
    width: 175px;
    min-width: 170px;
    text-align: right;
}