<p class="pl-35"><a routerLink="/projects" style="color: white;">Go back to Projects</a></p>

<h1 class="text-center">{{ projectName }}</h1>

<!-- ADD BUG INPUT FORM/ACCORDION -->
<mat-accordion>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Click Here to Add a New Bug
      </mat-panel-title>
    </mat-expansion-panel-header>
    <!-- Add bug Form Field -->
    <div class="example-container">
      <!-- TITLE -->
      <mat-form-field appearance="fill">
        <mat-label>Title</mat-label>
        <input matInput [(ngModel)]="title">
      </mat-form-field>
      <br>
      <!-- DIFFICULTY -->
      <mat-form-field appearance="fill">
        <mat-label>Difficulty</mat-label>
        <mat-select [(ngModel)]="difficulty">
          <mat-option value="easy">Easy</mat-option>
          <mat-option value="medium">Medium</mat-option>
          <mat-option value="hard">Hard</mat-option>
        </mat-select>
      </mat-form-field>
      <br>
      <!-- DESRIPTION -->
      <mat-form-field appearance="fill">
        <mat-label>Description</mat-label>
        <textarea matInput [(ngModel)]="description"></textarea>
      </mat-form-field>
      <br>
      <!-- COMPLETION STATUS -->
      <mat-form-field appearance="fill">
        <mat-label>Status</mat-label>
        <mat-select [(ngModel)]="status">
          <mat-option value="back-log">Back Log</mat-option>
          <mat-option value="in-progress">In Progress</mat-option>
          <mat-option value="completed">Completed</mat-option>
        </mat-select>
      </mat-form-field>
      <br>
      <!-- ADD BUG BUTTON -->
      <button mat-fab color="accent" aria-label="add new bug" title= 'Add Bug' class="float-right" (click)="addBug()">
        <mat-icon>add</mat-icon>
      </button>
    </div>
  </mat-expansion-panel>
</mat-accordion>
<!-- -------------------------------------------------- -->


<!-- BUGSLIST DISPLAY SECTION -->
<mat-list>
  <!-- STATUS: BACK LOG -->
  <mat-list-item><span class="dot"></span> Back Log </mat-list-item>
  <!-- INDIVIDUAL BUG CARDS -->
  <ng-container *ngFor='let bug of bugsList'>
    <mat-card *ngIf="bug.status === 'back-log'">
      <!-- TITLE -->
      <div class="flex row">
        <mat-card-subtitle class="spacer">{{bug.title | uppercase}}</mat-card-subtitle>
        <!-- DIFFICULTY -->
        <mat-chip-list>
          <mat-chip [style.backgroundColor]="getDifficultyColor(bug.difficulty)">{{ bug.difficulty }}</mat-chip>
        </mat-chip-list>
      </div>
      <!-- DESCRIPTION -->
      <div class="flex row">
        <mat-card-content class="spacer">
          <p>{{bug.description}}</p>
        </mat-card-content>
        <!-- STATUS -->
        <mat-card-actions class="action-container">
          <select #status (input)="updateStatus(bug.id, status.value)">
            <option value="" selected>Status</option>
            <option value="back-log" disabled>Back Log</option>
            <option value="in-progress">In Progress</option>
            <option value="completed">Completed</option>
          </select>
          <!-- DELETE -->
          <button (click)="removeBug(bug.id)">Delete</button>
        </mat-card-actions>
      </div>
    </mat-card>
  </ng-container>

  <!-- IN PROGRESS -->
  <mat-divider></mat-divider>
  <!-- STATUS: IN PROGRESS -->
  <mat-list-item><span class="dot bg-blue"></span>In Progress</mat-list-item>
  <!-- INDIVIDUAL BUG CARDS -->
  <ng-container *ngFor='let bug of bugsList'>
    <mat-card *ngIf="bug.status === 'in-progress'">
      <!-- TITLE -->
      <div class="flex row">
        <mat-card-subtitle class="spacer">{{bug.title | uppercase}}</mat-card-subtitle>
        <!-- DIFFICULTY -->
        <mat-chip-list>
          <mat-chip [style.backgroundColor]="getDifficultyColor(bug.difficulty)">{{ bug.difficulty }}</mat-chip>
        </mat-chip-list>
      </div>
      <!-- DESCRIPTION -->
      <div class="flex row">
        <mat-card-content class="spacer">
          <p>{{bug.description}}</p>
        </mat-card-content>
        <!-- STATUS -->
        <mat-card-actions class="action-container">
          <select #status (input)="updateStatus(bug.id, status.value)">
            <option value="" selected>Status</option>
            <option value="back-log" disabled>Back Log</option>
            <option value="in-progress">In Progress</option>
            <option value="completed">Completed</option>
          </select>
          <!-- DELETE -->
          <button (click)="removeBug(bug.id)">Delete</button>
        </mat-card-actions>
      </div>
    </mat-card>
  </ng-container>
  <mat-divider></mat-divider>
  <!-- STATUS: COMPLETED -->
  <mat-list-item><span class="dot bg-green"></span>Completed</mat-list-item>
  <!-- INDIVIDUAL BUG CARDS -->
  <ng-container *ngFor='let bug of bugsList'>
    <mat-card *ngIf="bug.status === 'completed'">
      <!-- TITLE -->
      <div class="flex row">
        <mat-card-subtitle class="spacer">{{bug.title | uppercase}}</mat-card-subtitle>
        <!-- DIFFICULTY -->
        <mat-chip-list>
          <mat-chip [style.backgroundColor]="getDifficultyColor(bug.difficulty)">{{ bug.difficulty }}</mat-chip>
        </mat-chip-list>
      </div>
      <!-- DESCRIPTION -->
      <div class="flex row">
        <mat-card-content class="spacer">
          <p>{{bug.description}}</p>
        </mat-card-content>
        <!-- STATUS -->
        <mat-card-actions class="action-container">
          <select #status (input)="updateStatus(bug.id, status.value)">
            <option value="" selected>Status</option>
            <option value="back-log" disabled>Back Log</option>
            <option value="in-progress">In Progress</option>
            <option value="completed">Completed</option>
          </select>
          <!-- DELETE -->
          <button (click)="removeBug(bug.id)">Delete</button>
        </mat-card-actions>
      </div>
    </mat-card>
  </ng-container>
</mat-list>