<a routerLink="/bugs/1234">
    link to bugs component for debugging
  </a>

<h1 class="text-center">Projects</h1>

<!-- New Project Form -->
<form class="input-form margin-auto mb-25">
    <mat-form-field class="full-width" appearance="fill">
        <mat-label>Project Title</mat-label>
        <input matInput [(ngModel)]="title" name='title'>
    </mat-form-field>
    <br>
    <mat-form-field class="full-width" appearance="fill">
        <mat-label>Description</mat-label>
        <textarea matInput [(ngModel)]="description" name="description"></textarea>
    </mat-form-field>
    <br>
    <button mat-raised-button color="primary" (click)="addProject()" class="float-right">Add</button>
</form>

<!-- Project Card Displays -->
<section class="proj-container">
    <mat-card *ngFor="let project of projects" class="proj-card">
        <mat-card-title>{{project.title}}</mat-card-title>
        <mat-card-content>{{project.description}}</mat-card-content>
        <!-- will redirect to the bugs page for that project-->
        <button mat-raised-button color="accent">Bugs</button>

        <button mat-icon-button (click)="removeProject(project.id)" style="float: right;">
            <mat-icon (click)="removeProject(project.id)" color="warn">delete</mat-icon>
        </button>
    </mat-card>
</section>